4Y1S/MDSI/MDSIProject/XSD/enseignants.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	xmlns:type="http://insa/mdsi/types">

	<xs:import schemaLocation="./types.xsd" namespace="http://insa/mdsi/types"/>

	<xs:element name="enseignants">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="enseignant" type="typeEnseignant" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="typeEnseignant">
		<xs:attribute name="codePersonnel" type="type:CodePersonnel" use="required"/>
	</xs:complexType>
</xs:schema>
