4Y1S/MDSI/MDSIProject/XSD/POs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xs:element name="POs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PO" type="typePO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="typePO">
		<xs:sequence>
			<xs:element name="departement" type="xs:token"/>
		</xs:sequence>
		<xs:attribute name="intitule" type="xs:token" use="required"/>
	</xs:complexType>
</xs:schema>
